{% extends 'admin_staff/base.html' %}

{% load static %}

{% block content %}
            
                    
                       

                
                       
                        {% include 'admin_staff/includes/alerts.html' %}
                        
                            {{ form.errors }}
                        
                        <!-- dashboard inner -->
            
                        <div class="midde_cont">
                            <div class="container-fluid">
                               <div class="row column_title">
                                  <div class="col-md-12">
                                     <div class="page_title">
                                        <h2>Register Staff</h2>
                                     </div>
                                  </div>
                               </div>
                               <!-- row -->
                               <!-- form -->
                               <form action="#" class="bg-white p-5 rounded rounded-5 shadow">
                                  <h4>Staff Form</h4>
                                  <div class="form-row">
                                     <div class="form-group col-md-6">
                                        <label for="fName">Staff Fullname</label>
                                        <input type="text" class="form-control bg-light" placeholder="Fullname">
                                     </div>
             
                                     <div class="form-group col-md-6">
                                        <label for="address">Email Address</label>
                                        <input type="email" class="form-control bg-light" placeholder="Email Address">
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="Phone">Phone Number</label>
                                        <input type="tel" class="form-control bg-light" placeholder="Email Address">
                                     </div>
             
                                     <div class="form-group col-md-6">
                                        <label for="marital">Marital Stutus</label>
                                        <select class="form-control bg-light" name="marital" id="" required>
                                           <option value="">Select Marital Stutus</option>
                                           <option value="male">Single</option>
                                           <option value="female">Marriage</option>
                                           <option value="female">Others</option>
             
                                        </select>
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="gender">Gender</label>
                                        <select class="form-control bg-light" name="gender" id="" required>
                                           <option value="">Select Gender</option>
                                           <option value="male">Male</option>
                                           <option value="female">Female</option>
                                        </select>
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="occupation">Occupation</label>
                                        <input type="text" class="form-control bg-light" placeholder="Occupation">
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="id">ID Number</label>
                                        <input type="text" class="form-control bg-light" placeholder="ID Number">
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="email">Department</label>
                                        <input type="email" class="form-control bg-light" placeholder="Email Address">
                                     </div>
                                  </div>
                                  <button type="submit" class="btn w-100 btn-danger mt-4 shadow-sm">Submit</button>
                               </form>
             
                               <!-- footer -->
                             
                            </div>
                            <!-- end dashboard inner -->
                         </div>
                    


                    
     


{% endblock %}