{% extends 'coordinators/base.html' %}

{% load static %}

{% block content %}
{% include 'coordinators/includes/alerts.html' %}
{{ form.errors }}
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Member Details</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form first">
                <div class="details personal">
                    <div class="image-preview-container">
                        <div class="preview">
                            <img id="preview-selected-image" src="{{ member.image.url }}" alt="Member Image" />
                        </div>
                        <label for="file-upload">Choose Photo</label>
                        <input type="file" id="file-upload" name="image" accept="image/*" onchange="previewImage(event);" />
                        <div id="error-message" class="text-danger"></div>
                    </div>
                    <div class="fields">
                        <input type="hidden" value="{{ member.team_sup.username }}" name="user" required>
                        <div class="input-field">
                            <label>First Name*</label>
                            <input type="text" placeholder="Enter First Name" name="first_name" value="{{ member.first_name }}" required>
                        </div>
                        <div class="input-field">
                            <label>Middle Name</label>
                            <input type="text" placeholder="Enter Middle Name" name="middle_name" value="{{ member.middle_name }}">
                        </div>
                        <div class="input-field">
                            <label>Last Name*</label>
                            <input type="text" placeholder="Enter Last Name" name="last_name" value="{{ member.last_name }}" required>
                        </div>
                        <div class="input-field">
                            <label>Address*</label>
                            <input type="text" placeholder="Enter Address" name="address" value="{{ member.address }}" required>
                        </div>
                        <div class="input-field">
                            <label>Nationality*</label>
                            <input type="text" placeholder="Enter Nationality" name="nationality" value="{{ member.nationality }}" required>
                        </div>
                        <div class="input-field">
                            <label>Date of Birth*</label>
                            <input type="date" name="date_of_birth" value="{{ member.date_of_birth|date:'Y-m-d' }}" required>
                        </div>
                        <div class="input-field">
                            <label>Email*</label>
                            <input type="email" placeholder="Enter your Email" name="email" value="{{ member.email }}" required>
                        </div>
                        <div class="input-field">
                            <label>Mobile Number*</label>
                            <input type="text" placeholder="Enter mobile number" name="phone_no" value="{{ member.phone_no }}" required>
                        </div>
                        <div class="input-field">
                            <label>Gender*</label>
                            {{ form.gender }}
                        </div>
                        <div class="input-field">
                            <label>Marital Status*</label>
                            {{ form.marital_status }}
                        </div>
                        <div class="input-field">
                            <label>Occupation*</label>
                            <input type="text" placeholder="Enter your occupation" name="occupation" value="{{ member.occupation }}" required>
                        </div>
                        <div class="input-field">
                            <label>Place of Work*</label>
                            <input type="text" placeholder="Enter your place of work" name="place_of_work" value="{{ member.place_of_work }}" required>
                        </div>
                        <div class="input-field">
                            <label>Position*</label>
                            <input type="text" placeholder="Enter your position" name="position" value="{{ member.position }}" required>
                        </div>
                        <div class="input-field">
                            <label>Wedding Anniversary</label>
                            <input type="date" name="wedding_ann" value="{{ member.wedding_ann|date:'Y-m-d'  }}">
                        </div>
                        <div class="input-field">
                            <label>When did you Join TCGC</label>
                            <input type="date" name="join" value="{{ member.join|date:'Y-m-d' }}">
                        </div>

                      
                        <div class="input-field">
                            <label>How did you know about TCGC</label>
                            <input type="text" placeholder="Enter How did you know about TCGC" name="about" value="{{ member.about }}">
                        </div>
                        <div class="input-field">
                            <label>Department/Unit</label>
                            <input type="text" placeholder="Department" name="dept" value="{{ member.dept }}">
                        </div>
                        <div class="input-field">
                            <label>Team Lead</label>
                            <select id="team_lead" name="team_lead" onchange="ddlselect();">
                                <option value="">Select a Team Lead</option>
                                {% for team_lead in team_lead %}
                                    <option value="{{ team_lead.id }}" {% if member.team_lead_id == team_lead.id %}selected{% endif %}>{{ team_lead.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Team Member</label>
                            <select id="team_member" name="team_member" onchange="ddlselect();">
                                <option value="">Select a Team Member</option>
                                {% for team_member in team_members %}
                                    <option value="{{ team_member.id }}" {% if member.team_member_id == team_member.id %}selected{% endif %}>{{ team_member.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-field">
                            <label>KCC Center</label>
                            <select required name="kcc_center">
                                <option disabled>Select KCC Center</option>
                                <option value="Ojo Center" {% if member.kcc_center == "Ojo Center" %}selected{% endif %}>Ojo Center</option>
                                <option value="Ajibode Center" {% if member.kcc_center == "Ajibode Center" %}selected{% endif %}>Ajibode Center</option>
                                <option value="Bodija 1 Center" {% if member.kcc_center == "Bodija 1 Center" %}selected{% endif %}>Bodija 1 Center</option>
                                <option value="Bodija 2 Center" {% if member.kcc_center == "Bodija 2 Center" %}selected{% endif %}>Bodija 2 Center</option>
                                <option value="Apete Center" {% if member.kcc_center == "Apete Center" %}selected{% endif %}>Apete Center</option>
                                <option value="Sango Center" {% if member.kcc_center == "Sango Center" %}selected{% endif %}>Sango Center</option>
                                <option value="Akobo Center" {% if member.kcc_center == "Akobo Center" %}selected{% endif %}>Akobo Center</option>
                                <option value="Ring Road Center" {% if member.kcc_center == "Ring Road Center" %}selected{% endif %}>Ring Road Center</option>
                                <option value="Agbowo 1" {% if member.kcc_center == "Agbowo 1" %}selected{% endif %}>Agbowo 1</option>
                                <option value="Agbowo 2" {% if member.kcc_center == "Agbowo 2" %}selected{% endif %}>Agbowo 2</option>
                                <option value="Orogun Center" {% if member.kcc_center == "Orogun Center" %}selected{% endif %}>Orogun Center</option>
                                <option value="Bashorun/Iwo Road" {% if member.kcc_center == "Bashorun/Iwo Road" %}selected{% endif %}>Bashorun/Iwo Road</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Purpose of Visit</label>
                            <select required name="purpose">
                                <option disabled>Select Purpose of Visit</option>
                                <option value="School" {% if member.purpose == "School" %}selected{% endif %}>School</option>
                                <option value="Work" {% if member.purpose == "Work" %}selected{% endif %}>Work</option>
                                <option value="Special Event" {% if member.purpose == "Special Event" %}selected{% endif %}>Special Event</option>
                                <option value="Relocate to Ibadan" {% if member.purpose == "Relocate to Ibadan" %}selected{% endif %}>Relocate to Ibadan</option>
                                <option value="Conference/Training" {% if member.purpose == "Conference/Training" %}selected{% endif %}>Conference/Training</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Status*</label>
                            {{ form.status }}
                        </div>
                        <header>Next of Kin Details</header>
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Full Name" name="kin_fullname" value="{{ member.kin_fullname }}">
                        </div>
                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" name="kin_birth" value="{{ member.kin_birth|date:'Y-m-d'  }}">
                        </div>
                        <div class="input-field">
                            <label>Gender</label>
                            <select required name="kin_gender">
                                <option disabled>Select Gender</option>
                                <option value="Male" {% if member.kin_gender == "Male" %}selected{% endif %}>Male</option>
                                <option value="Female" {% if member.kin_gender == "Female" %}selected{% endif %}>Female</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Relationship to You</label>
                            <input type="text" placeholder="Enter your relationship" name="kin_relationship" value="{{ member.kin_relationship }}">
                        </div>
                        <div class="input-field">
                            <label>Address</label>
                            <input type="textarea" name="kin_address" value="{{ member.kin_address }}">
                        </div>
                        <div class="input-field">
                            <label>Phone No</label>
                            <input type="text" placeholder="Enter Next of Kin Phone No" name="kin_phone_no" value="{{ member.kin_phone_no }}">
                        </div>
                        <div class="input-field">
                            <label>Email Address</label>
                            <input type="email" placeholder="Enter Email Address" name="kin_email" value="{{ member.kin_email }}">
                        </div>
                        <div class="input-field">
                            <label>Emergency Phone No</label>
                            <input type="text" placeholder="Enter Emergency Phone No" name="kin_emergency" value="{{ member.kin_emergency }}">
                        </div>
                    </div>
                </div>
                <button class="submit">
                    <span class="btnText">Submit</span>
                    <i class="uil uil-navigator"></i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
