{% extends 'coordinators/base.html' %}

{% load static %}

{% block content %}
      
            
                                    
            <!-- {{ form.errors }} -->
              

                  <div class="midde_cont">
                    <div class="container-fluid">
                       <div class="row column_title">
                          <div class="col-md-12">
                             <div class="page_title">
                                <h2>Dashboard</h2>
                             </div>
                          </div>
                       </div>

                       {% include 'coordinators/includes/alerts.html' %}
                       <div class="row column1">
                          <div class="col-md-6 col-lg-4">
                             <div class="full counter_section margin_bottom_30">
                                <div class="couter_icon">
                                   <div>
     
                                   </div>
                                </div>
                                <div class="counter_no">
                                   <div>
                                    <p class="total_no"><span style="color: green;">Active Member: </span><br><span style="color: #FF5F1F;"><b>{{member}}</b> </span></p>
                                    <p class="head_couter pb-2 pt-5"></p>
                                  
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div>
   
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                  <p class="total_no"><span style="color: green;">InActive Member:</span> <br> <span style="color: #FF5F1F;"><b>{{member_inctive}}</b></span></p>
                                  <p class="head_couter pb-2 pt-5"></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div>
   
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                  <p class="total_no"><span style="color: green;">Male Member:</span> <br> <span style="color: #FF5F1F;"><b>{{member_male}}</b></span></p>
                                  <p class="head_couter pb-2 pt-5"></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div>
   
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                  <p class="total_no"><span style="color: green;">Female Member:</span> <br><span style="color: #FF5F1F;"><b>{{member_female}}</b></span> </p>
                                  <p class="head_couter pb-2 pt-5"></p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div>
   
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                  <p class="total_no"><span style="color: green;">Married Member:</span> <br> <span style="color: #FF5F1F;"><b>{{member_married}}</b></span></p>
                                  <p class="head_couter pb-2 pt-5"></p>
                                 </div>
                              </div>
                           </div>
                        </div>
   
                        <div class="col-md-6 col-lg-4">
                           <div class="full counter_section margin_bottom_30">
                              <div class="couter_icon">
                                 <div>
   
                                 </div>
                              </div>
                              <div class="counter_no">
                                 <div>
                                  <p class="total_no"><span style="color: green;">Single Member:</span> <br><span style="color: #FF5F1F;"><b>{{member_single}}</b></span> </p>
                                  <p class="head_couter pb-2 pt-5"></p>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
     
            
         
            
                 
            
                  {% endblock %}