<!-- templates/your_app_name/nysc_success.html -->

{% extends "coordinators/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page_title">
                <h2>NYSC Record Created Successfully</h2>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="card shadow-lg rounded-5 bg-success">
                <div class="card-body p-5 text-center">
                    <h3 class="text-white">Record Created Successfully!</h3>
                    <p class="text-white">Your record has been successfully created.</p>
                    <!-- <a href="{% url 'list_members_nysc' %}" class="btn btn-primary btn-lg">Create Another One</a> -->
                    <!-- You can add any additional content or links here -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}