{% extends 'admin_staff/base.html' %}

{% load static %}

{% block content %}
            
                    
                       

                
                       
                        {% include 'admin_staff/includes/alerts.html' %}
                        
                            {{ form.errors }}
                        
                        <!-- dashboard inner -->
            
                        <div class="midde_cont">
                            <div class="container-fluid">
                                <div class="row column_title">
                                    <div class="col-md-12 ">
                                        <div class="page_title">
                                            <h2>Display Comment</h2>
                                        </div>
                                    </div>
                                </div>
        
        
        
                                <!-- table -->
                                <div class="col-md-12">
                                    <div class="white_shd full margin_bottom_30">
                                      
                                    </div>
                                </div>
                            </div>
                        </div>

             
                               <!-- footer -->
                             
                            </div>
                            <!-- end dashboard inner -->
                         </div>
                    


                    
     


{% endblock %}